@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #01000f;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#app {
  min-height: 100vh;
}

::selection {
  background: #00a4ff;
  color: #fff;
}

.btn {
  @apply rounded-md;
}

.btn-link {
  @apply no-underline;
}

.btn-link:hover {
  @apply no-underline;
}

.input {
  @apply rounded-md;
  @apply bg-background;
  @apply outline outline-1 outline-gray-700;
}

.input:focus {
  @apply outline outline-1 outline-gray-600;
}
