@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #01000f;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#app {
  min-height: 100vh;
}

::selection {
  background: #00a4ff;
  color: #fff;
}
